* {

    color:  rgba(241, 237, 237, 0.952);
    background: rgba(224, 223, 223, 0.383);
    background-image: linear-gradient(315deg, #0000004b 0%, #4141414b 74%);
   
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(255, 255, 255);
}

#style-3::-webkit-scrollbar
{
	height: 0px;
	background-color: rgb(255, 255, 255);
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
}